.VTTree__Node {
    box-sizing: border-box;
    display: flex;
}

.VTTree__NodeIcon {
    align-self: center;
    display: inline-block;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    margin-left: 5px;
    text-align: center;
}

.VTTree__NodeIcon--collapse,
.VTTree__NodeIcon--expand {
    cursor: pointer;
}

.VTTree__NodeContent {
    align-self: center;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
