.VTTree__TreeItem {
    box-sizing: border-box;
    display: flex;
}

.VTTree__ItemIcon {
    align-self: center;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    margin-left: 5px;
}

.VTTree__ItemIcon-collapse,
.VTTree__ItemIcon-expand {
    cursor: pointer;
}

.VTTree__ItemContent {
    align-self: center;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
